/* Theme */
:root {
  --ifm-navbar-shadow: none;
  --ifm-navbar-background-color: #f3df43;
  --ifm-color-primary: #ca0101;
  --ifm-color-primary-dark: #b10101;
  --ifm-color-primary-darker: #970101;
  --ifm-color-primary-darkest: #7e0101;
  --ifm-color-primary-light: #e30101;
  --ifm-color-primary-lighter: #fd0101;
  --ifm-color-primary-lightest: #fe1a1a;
  --ifm-color-secondary: #f3df43;
  --ifm-color-secondary-dark: #f1db2b;
  --ifm-color-secondary-darker: #f0d713;
  --ifm-color-secondary-darkest: #dbc40e;
  --ifm-color-secondary-light: #f5e35b;
  --ifm-color-secondary-lighter: #f6e773;
  --ifm-color-secondary-lightest: #f8eb8b;
  --ifm-navbar-search-input-icon: none;
  --ifm-navbar-search-input-placeholder-color: #202020;
  --ifm-navbar-search-input-color: #202020;
  --ifm-color-content-secondary: #ca0101;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

[data-theme='dark'] {
  --ifm-navbar-shadow: none;
  --ifm-navbar-background-color: #1b1b1d;
  --ifm-color-black: #ffffff;
  --ifm-color-primary: #f3df43;
  --ifm-color-primary-dark: #f1db2b;
  --ifm-color-primary-darker: #f0d713;
  --ifm-color-primary-darkest: #dbc40e;
  --ifm-color-primary-light: #f5e35b;
  --ifm-color-primary-lighter: #f6e773;
  --ifm-color-primary-lightest: #f8eb8b;
  --ifm-color-secondary: #ca0101;
  --ifm-color-secondary-dark: #b10101;
  --ifm-color-secondary-darker: #970101;
  --ifm-color-secondary-darkest: #7e0101;
  --ifm-color-secondary-light: #e30101;
  --ifm-color-secondary-lighter: #fd0101;
  --ifm-color-secondary-lightest: #fe1a1a;
  --ifm-navbar-search-input-icon: none;
  --ifm-navbar-search-input-placeholder-color: #eeeeee;
  --ifm-navbar-search-input-color: #eeeeee;
  --ifm-color-content-secondary: #f3df43;
  --search-local-highlight-color: #f3df43;
  --search-local-muted-color: #f3df43;
  --search-local-hit-active-color: #1b1b1d;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* GitHub Repo */
.header-github-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

html[data-theme='dark'] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

.navbar {
  border-bottom: 1px solid #a8a8a841;
}

footer {
  border-top: 1px solid #a8a8a841;
}

.navbar .navbar__inner {
  font-family: 'Poppins';
  font-weight: bold;
  margin: 0 auto;
  max-width: 1600px;
}

.navbar__search-input {
  height: 36px;
  padding: 0 2rem 0 1rem;
  outline: none;
}

.searchQueryInput_CFBF {
  outline: none;
}

div[class="searchBox_node_modules-@docusaurus-theme-classic-lib-theme-Navbar-Search-styles-module"] {
  padding: 0px;
}

div[class="searchHintContainer_node_modules-@easyops-cn-docusaurus-search-local-dist-client-client-theme-SearchBar-SearchBar-module"] {
  margin-top: 0px;
}


button[class="searchClearButton_node_modules-@easyops-cn-docusaurus-search-local-dist-client-client-theme-SearchBar-SearchBar-module"] {
  margin-top: -.03rem;
  cursor: pointer;
  margin-left: 20px;
}

/* Prevent "bounce" scroll behavior when scrolling "past" top/bottom/left/right */

html,
body {
  height: 100%;
  overflow: auto;
  overscroll-behavior: none;
}

/* MacOS style scrollbar (Chromium only) */

.scrollbar {
  overflow: overlay;
}

.scrollbar::-webkit-scrollbar {
  background-color: rgba(0,0,0,0);
  width: 16px;
  height: 16px;
  z-index: 999999;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0);
  border-radius: 16px;
  border: 0px solid #fff;
}

.scrollbar::-webkit-scrollbar-button {
  display: none;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #a0a0a5;
  border: 4px solid #fff;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4;
}
